<html>
<title>Pagina Home</title>
<body>
<h1> Dados </h1>
<hr />


    {{! <form method="POST" action="home/insert">
        <div>
            <input type="text" name="categoria" placeholder="Entre com Categoria"/>
        </div>
        <br>
        <div>
            <input type="text" name="descricao" placeholder="Entre com Descricao" />
            <br><br>
            <input type="number" name="qtdimage" placeholder="Entre com Quantidade"/>
        </div>
        <br/>
        <div>
        <input type="submit" value="Enviar" />
        </div>
    </form> }}
<hr />

    <hr>
        <h3>
            <ul>
                {{#product}}
                    <li>ID: {{Codigo}} Desc: {{Descricao}} Preco: {{PreLoj}} </li>
                {{/product}}
            </ul>
        </h3>
    <hr>
</body>
<footer></footer>
</html>